body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #152c5b;
}

.navbar-brand img {
  max-height: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #152c5b;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #3252df !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 40px;
  border-radius: 700px;
}

.btn-signup {
  background-color: #3252df;
  color: #fff;
}

.btn-signup:hover {
  background-color: #4766f0;
  color: #fff;
}

.btn-login {
  background-color: transparent;
  border: 2px solid #3252df;
  color: #3252df;
}

.btn-login:hover {
  background-color: #4766f0;
  border: 2px solid #4766f0;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -80px;
}

header h1,
header p {
  color: #152c5b;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 45px;
}

header p {
  width: 70%;
  font-weight: 300;
  font-size: 16px;
  color: #b0b0b0;
}

header .btn-get-started {
  background-color: #3252df;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

header .btn-get-started:hover {
  background-color: #4766f0;
  color: #fff;
}

header img {
  max-width: 600px;
  position: relative;
  right: -16px;
  top: -172px;
  z-index: -1;
}

.section-populer {
  min-height: 540px;
  margin-top: -300px;
  margin-bottom: -450px;
}

.section-populer .section-populer-heading h2,
.section-populer .section-populer-heading p {
  color: #152c5b;
}

.section-populer .section-populer-heading h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 40px;
}

.section-populer .section-populer-heading p {
  font-size: 18px;
}

.section-populer-content .section-populer-travel .card-travel {
  min-height: 460px;
  min-width: 361px;
  background-color: #dddddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.section-populer-content .section-populer-travel .card-travel .badge-price {
  min-width: 180px;
  min-height: 40px;
  background-color: #ff498b;
  right: 3.5px;
  top: 0;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 16px;
  font-weight: 300;
}

.section-populer-content .section-populer-travel .travel-country {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.section-populer-content .section-populer-travel .travel-location {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

#KulinerPopuler {
  min-height: 540px;
  margin-top: 60px;
}

#KulinerPopuler .section-populer-heading h2,
#KulinerPopuler .section-populer-heading p {
  color: #152c5b;
}

#KulinerPopuler .section-populer-heading h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 40px;
}

#KulinerPopuler .section-populer-heading p {
  font-size: 18px;
}

#KulinerContent .section-populer-travel .card-travel {
  min-height: 180px;
  min-width: 263px;
  background-color: #dddddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

#KulinerContent .section-populer-travel .card-travel .badge-price {
  min-width: 180px;
  min-height: 40px;
  background-color: #ff498b;
  right: 6.5px;
  top: 0;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 16px;
  font-weight: 300;
}

#KulinerContent .section-populer-travel .travel-country {
  font-size: 20px;
  color: #152c5b;
  font-weight: 400;
}

#KulinerContent .section-populer-travel .travel-location {
  font-size: 15px;
  color: #152c5b;
  font-weight: 300;
}

#EventPopuler {
  min-height: 540px;
  margin-top: 60px;
}

#EventPopuler .section-populer-heading h2,
#EventPopuler .section-populer-heading p {
  color: #152c5b;
}

#EventPopuler .section-populer-heading h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 40px;
}

#EventPopuler .section-populer-heading p {
  font-size: 18px;
}

#EventContent .section-populer-travel .card-travel {
  min-height: 215px;
  min-width: 361px;
  background-color: #dddddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

#EventContent .section-populer-travel .card-travel .badge-price {
  min-width: 180px;
  min-height: 40px;
  background-color: #ff498b;
  right: 4px;
  top: 0;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 16px;
  font-weight: 300;
}

#EventContent .section-populer-travel .travel-country {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

#EventContent .section-populer-travel .travel-location {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

#SouvenirPopuler {
  min-height: 540px;
  margin-top: 60px;
}

#SouvenirPopuler .section-populer-heading h2,
#SouvenirPopuler .section-populer-heading p {
  color: #152c5b;
}

#SouvenirPopuler .section-populer-heading h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 40px;
}

#SouvenirPopuler .section-populer-heading p {
  font-size: 18px;
}

#SouvenirContent .section-populer-travel .card-travel {
  min-height: 180px;
  min-width: 263px;
  background-color: #dddddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

#SouvenirContent .section-populer-travel .card-travel .badge-price {
  min-width: 180px;
  min-height: 40px;
  background-color: #ff498b;
  right: 6.5px;
  top: 0;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 16px;
  font-weight: 300;
}

#SouvenirContent .section-populer-travel .travel-country {
  font-size: 20px;
  color: #152c5b;
  font-weight: 400;
}

#SouvenirContent .section-populer-travel .travel-location {
  font-size: 15px;
  color: #152c5b;
  font-weight: 300;
}

#SectionMenu {
  background-color: #000;
  width: 100%;
  max-height: 789px;
  margin-top: 100px;
  padding-top: 90px;
  padding-bottom: 90px;
}

#SectionMenu .card-1 {
  width: 474px;
  height: 605px;
  background-image: url("/frontend/images/bg-wisata.jpg");
  border-radius: 30px;
}

#SectionMenu .card-2 {
  width: 635px;
  height: 287px;
  background-image: url("/frontend/images/bg-kuliner.jpg");
  border-radius: 30px;
}

#SectionMenu .card-3 {
  width: 302px;
  height: 287px;
  background-image: url("/frontend/images/bg-event.jpg");
  border-radius: 30px;
}

#SectionMenu .card-4 {
  width: 306px;
  height: 287px;
  background-image: url("/frontend/images/bg-souvenir.jpg");
  border-radius: 30px;
}

#SectionMenu h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

#SectionMenu p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.section-footer h5 {
  color: #152c5b;
}

.section-footer p,
.section-footer a {
  font-weight: 300;
  color: #b0b0b0;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #1b3b86;
  color: #fff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #ffb57c;
  color: #fff;
}

.section-success {
  height: 88vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #071c4d;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #2a488e;
  color: #fff;
}

@media (min-width: 992px) {
  .login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #ffffff), color-stop(40%, #e4e6eb));
    background: linear-gradient(90deg, #ffffff 60%, #e4e6eb 40%);
    width: 100vw;
    height: 100vh;
  }
}

.page-login {
  height: 100vh;
}

.page-login .btn-login {
  background-color: #ff9353;
  color: #fff;
}

.page-login .btn-login:hover {
  color: #fff;
}

.page-login .section-left h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  color: #071c4d;
}

.page-login .section-right a {
  font-family: Assistant;
  font-weight: 300;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
  color: #bfbfbf;
}
/*# sourceMappingURL=main.css.map */